{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Record Tournaments{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>Please enter a BracketHQ link with either a completed tournament or a completed league night!</p>
    <p>NOTE: 2v2 tournaments will only be stored correctly if teams are labelled as "player1 & player2" SPECIFICALLY.</p>
    <form method="post">
        <input type="text" id="TournamentURL" name="Event URL">
        <p>Enter Password:</p>
        <input type="text" id="Password" name="Password">
        <input type="submit" name="submit_button" value="Submit URL">
    </form>
{% endblock %}